@media screen and (max-width:375px) {
  .socials{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 10px;
    width: 25em;
    height: 120px;
  }

  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 900px;
}

.github,
.linkedin,
.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #ff6600;
    width: 8rem;
    height: 3.2rem;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: rgba(22, 21, 21, 0.945);
    
}
.download{
  background-color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid #ff6600;
  width: 16rem;
  height: 3rem;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(22, 21, 21, 0.945);
}

.aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  line-height: 30px;
  width: 95%;
  height: 70vh;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h5{
  font-size: 1.8rem;
}
#typing{
  font-size: 2.1rem;
}
  
}

@media screen and (min-width:376px) and (max-width:440px) {
  .socials{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 10px;
    width: 25em;
    height: 120px;
  }

  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 900px;
}

.aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  line-height: 30px;
  width: 95%;
  height: 70vh;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h5{
  font-size: 1.6rem;
}
#typing{
  font-size: 2.1rem;
}




}