/* CSS FOR SKILLS-SECTION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
}
 
/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
  }
 
  
  body.dark-mode .header {
    background-color: #1f1f1f;
  }
  
  body.dark-mode a {
    color: #1db954; /* Bright green accent for links in dark mode */
  }

  body.dark-mode .images p{
      color: #1db954;
  }
  body.dark-mode #icon {
    filter: invert(44%) sepia(93%) saturate(501%) hue-rotate(91deg) brightness(1);
  }
  
  button#dark-mode-toggle {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
  }
  
  body.dark-mode button#dark-mode-toggle {
    background-color: #1db954;
    color: #000000;
  }


.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 95vh;
    /* border: 1px solid red; */
}
.info-img > img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.info-text{
    text-align: center;
    /* border: 1px solid red; */
    /* height: 14vh; */
}
.h5{
    font-size: 1.5rem;
}

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    /* border: 1px solid #ff6600; */
    width: 70%;
    height: 33%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.download{
    background-color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #ff6600;
    width: 13rem;
    height: 2.7rem;
    border-radius: 8px;
    color: #fff;
    background-color: rgba(22, 21, 21, 0.945);
}

.socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 40em;
}
.github,
.linkedin,
.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #ff6600;
    width: 7rem;
    height: 2.2rem;
    border-radius: 8px;
    background-color: rgba(22, 21, 21, 0.945);
    
}
.git-text > a{
    text-decoration: none;
    color: #fff;
}
/* Styling for the blinking cursor */
#typing::after {
    content: "|";
    display: inline-block;
    animation: blink 0.5s step-end infinite;
    color: black;
  }
  #typing{
      /* border: 1px solid green; */
  }
  
  /* Cursor blinking animation */
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  

.skills-section{
    font-family: Arial;
    /* background-color: #f2f2f2; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* color: #333; */
    overflow: hidden;
}

.container {
    width: 70%;
    max-width: 900px;
    text-align: center;
    opacity: 0;
    transform: translateY(-50px);
    animation: fallIn 1s ease-out forwards;
}


h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.columns{
    width: 100%;
}

h2{
    font-size: 1.5em;
    margin-bottom: 15px;
    font-family: "Brush Script MT", cursive;
    margin-bottom: 20px;
}

.skill{
    margin-bottom: 25px;
}

.skill span{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.progress-bar{
    height: 8px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.progress{
    height: 100%;
    background-color: #ff6600;
    border-radius: 5px 0 0 5px;
    width: 0;
    animation: loadProgress 2s ease forwards;
}

@keyframes fallIn {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loadProgress {
    to {
        width: var(--progress-width);
    }
}

/* MEDIA QUERY FOR SKILLS SECTION */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.1em;
    }

    .columns {
        width: 100%;
    }

    .progress-bar {
        height: 6px;
    }

    .progress {
        height: 100%;
    }
}

/* MEDIA QUERY FOR SKILLS SECTION */
@media screen and (max-width: 768px) {
    .skills {
        flex-direction: column;
        align-items: center;
    }

    .columns {
        width: 80%;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }
}


.anchor{
    border: 2px solid cyan;
    width: 400px;
}
.services-section > h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: Arial;
}
.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto;
    gap: 10px;
    padding-left:40px;
}
.styles-1{
    width: 90%;
    height: 330px;
    background-image: url(../images/edho-pratama-yeB9jDmHm6M-unsplash.jpg); 
    background-size: cover; 
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 30px;
    /* position: relative; */
    transition: filter 0.5s ease;
    /* filter: brightness(50%); */
}
.styles-1 > p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    /* position: absolute; */
    /* bottom: -40px; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
   
}

.styles-1 > .align:hover{
    text-decoration: 3px solid  #ff6600 underline;
}


.styles-2{
    width: 90%;
    height: 330px;
    background-image: url(../images/firmbee-com-DfMMzzi3rmg-unsplash.jpg);
    background-size: cover; 
    background-position: center;
    border-radius: 8px;
    /* position: relative; */
    transition: filter 0.5s ease;
    /* filter: brightness(70%); */
    
}
.styles-2 > p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
    /* position: absolute; */
    /* bottom: -33px; */
   
}
.styles-2 > p:hover{
    text-decoration: 3px solid  #ff6600 underline;
}


.styles-3{
    width: 90%;
    height: 330px; 
    background-image: url(../images/lxrcbsv-vVHXeu0YNbk-unsplash.jpg); 
    background-size: cover; 
    background-position: center; 
    border-radius: 8px;
    /* position: relative; */
    transition: filter 0.5s ease;
    /* filter: brightness(70%); */
}
.styles-3 > p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    /* position: absolute;
    bottom: -33px; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
}
.styles-3 > p:hover{
    text-decoration: 3px solid  #ff6600 underline;
}

.styles-4{
    width: 90%;
    height: 330px; 
    background-image: url(../images/panos-sakalakis-j9EtVGr0piI-unsplash.jpg); 
    background-size: cover; 
    background-position: center;
    border-radius: 8px;
    /* position: relative; */
    transition: filter 0.5s ease;
    /* filter: brightness(70%); */
}
.styles-4 > p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    /* position: absolute;
    bottom: -33px; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
   
}
.styles-4 > p:hover{
    text-decoration: 3px solid  #ff6600 underline;
}


.styles-5{
    width: 90%;
    height: 330px; 
    background-image: url(../images/pawel-czerwinski-fpZZEV0uQwA-unsplash.jpg); 
    background-size: cover; 
    background-position: center;  
    border-radius: 8px;
    /* position: relative; */
    transition: filter 0.5s ease;
    /* filter: brightness(70%); */
}
.styles-5 > p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    /* position: absolute;
    bottom: -33px; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
   
}
.styles-5 > p:hover{
    text-decoration: 3px solid  #ff6600 underline;
}
.styles-6{
    width: 90%;
    height: 330px; 
    background-image: url(../images/traxer-kM6QNrgo0YE-unsplash.jpg); 
    background-size: cover; 
    background-position: center; 
    border-radius: 8px;
    margin-bottom: 30px;
    /* position: relative; */
    transition: filter 0.5s ease;
    /* filter: brightness(70%); */
}
.styles-6 > p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    /* position: absolute;
    bottom: -33px; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
   
}
.styles-6 > p:hover{
    text-decoration: 3px solid  #ff6600 underline;
}

.services-section > a{
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*MEDIA QUERY FOR SERVICES-SECTION*/
@media screen and (max-width: 390px){
    .services-section > h1{
        text-align: center;
        margin-bottom: 30px;
        font-size: 2rem;
        font-weight: 400;
        font-family: Arial;
    }
    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto;
        gap: 10px;
        padding-left:40px;
    }
    .align{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .styles-1{
        width: 80%;
        height: 300px;
        background-image: url(../images/edho-pratama-yeB9jDmHm6M-unsplash.jpg); 
        background-size: cover; 
        background-position: center;
        border-radius: 8px;
        margin-bottom: 30px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-1 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -35px;
    }
    .styles-2{
        width: 80%;
        height: 300px;
        background-image: url(../images/firmbee-com-DfMMzzi3rmg-unsplash.jpg);
        background-size: cover; 
        background-position: center;
        border-radius: 8px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-2 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -28px;
    }
    .styles-3{
        width: 80%;
        height: 300px; 
        background-image: url(../images/lxrcbsv-vVHXeu0YNbk-unsplash.jpg); 
        background-size: cover; 
        background-position: center; 
        border-radius: 8px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-3 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -35px;
    }
    .styles-4{
        width: 80%;
        height: 300px; 
        background-image: url(../images/panos-sakalakis-j9EtVGr0piI-unsplash.jpg); 
        background-size: cover; 
        background-position: center;
        border-radius: 8px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-4 > p{
        font-size: 0.6rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -30px;
       
    }
    .styles-5{
        width: 80%;
        height: 300px; 
        background-image: url(../images/pawel-czerwinski-fpZZEV0uQwA-unsplash.jpg); 
        background-size: cover; 
        background-position: center;  
        border-radius: 8px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-5 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -50px;
       
    }
    .styles-6{
        width: 80%;
        height: 300px; 
        background-image: url(../images/traxer-kM6QNrgo0YE-unsplash.jpg); 
        background-size: cover; 
        background-position: center; 
        border-radius: 8px;
       
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-6 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -40px;
       
    }

}

@media screen and (max-width: 768px){
    .services-section > h1{
        text-align: center;
        margin-bottom: 30px;
        font-size: 2rem;
        font-weight: 400;
        font-family: Arial;
        padding-top: 10px;
    }
    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto;
        gap: 10px;
        padding-left:40px;
    }
    .styles-1{
        width: 80%;
        height: 300px;
        background-image: url(../images/edho-pratama-yeB9jDmHm6M-unsplash.jpg); 
        background-size: cover; 
        background-position: center;
        border-radius: 8px;
        margin-bottom: 30px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-1 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -30px;
    }
    .styles-2{
        width: 80%;
        height: 300px;
        background-image: url(../images/firmbee-com-DfMMzzi3rmg-unsplash.jpg);
        background-size: cover; 
        background-position: center;
        border-radius: 8px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-2 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -30px;
    }
    .styles-3{
        width: 80%;
        height: 300px; 
        background-image: url(../images/lxrcbsv-vVHXeu0YNbk-unsplash.jpg); 
        background-size: cover; 
        background-position: center; 
        border-radius: 8px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-3 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -10x;
    }
    .styles-4{
        width: 80%;
        height: 300px; 
        background-image: url(../images/panos-sakalakis-j9EtVGr0piI-unsplash.jpg); 
        background-size: cover; 
        background-position: center;
        border-radius: 8px;
        margin-bottom: 10px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-4 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -35px;
       
    }
    .styles-5{
        width: 80%;
        height: 300px; 
        background-image: url(../images/pawel-czerwinski-fpZZEV0uQwA-unsplash.jpg); 
        background-size: cover; 
        background-position: center;  
        border-radius: 8px;
        margin-top: 30px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-5 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -33px;
       
    }
    .styles-6{
        width: 80%;
        height: 300px; 
        background-image: url(../images/traxer-kM6QNrgo0YE-unsplash.jpg); 
        background-size: cover; 
        background-position: center; 
        border-radius: 8px;
        margin-top: 30px;
        position: relative;
        transition: filter 0.5s ease;
    }
    .styles-6 > p{
        font-size: 0.8rem;
        font-weight: 400;
        color: black;
        position: absolute;
        bottom: -33px;
       
    }

}