*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .services-section h1 {
    color: #ff6600;
}


.align{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.page-details p{
    margin-left: 20px;
    line-height: 30px;    
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.line{
    display: flex;
    align-self: center;
    justify-content: center;
}
.first-line{
    width: 150px;
    height: 1px;
    border: 2px solid #ff6600 ;
    margin-top: 55px;
}
.second-line{
    width: 150px;
    height: 1px;
    border: 2px solid #ff6600 ;
    margin-top: 55px;
    padding-right: 20px;
}
.line h1{
    font-family: "Brush Script MT", cursive; 
    font-size: 4rem;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 200;
}
.style-1{
    width: 60%;
    height: 45vh;
    background-image: url(./images/edho-pratama-yeB9jDmHm6M-unsplash.jpg); 
    background-size: cover; 
    background-position: center;
    border-radius: 8px;
    transition: filter 0.5s ease;
    margin-left: 20%;
    margin-bottom: 15px;
}
.style-1 > a{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
/*  background-color: rgba(0,0,0,0.5); */
}
.style-1 > .align:hover{
    text-decoration: 3px solid  #ff6600 underline;
}
.style-2{
    width: 60%;
    height: 45vh;
    background-image: url(./images/firmbee-com-DfMMzzi3rmg-unsplash.jpg);
    background-size: cover; 
    background-position: center;
    border-radius: 8px;
    transition: filter 0.5s ease;  
    margin-left: 20%; 
    margin-bottom: 15px;
}
.style-2 > a{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
/*  background-color: rgba(0,0,0,0.5); */
}
.style-2 > a:hover{
    text-decoration: 3px solid  #ff6600 underline;
}
.style-3{
    width: 60%;
    height: 45vh;
    background-image: url(./images/lxrcbsv-vVHXeu0YNbk-unsplash.jpg); 
    background-size: cover; 
    background-position: center; 
    border-radius: 8px;
    transition: filter 0.5s ease;
    margin-left: 20%;
    margin-bottom: 15px;
}
.style-3 > a{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    /* background-color: rgba(0,0,0,0.5); */
}
.style-3 > a:hover{
    text-decoration: 3px solid  #ff6600 underline;
}
.style-4{
    width: 60%;
    height: 45vh;
    background-image: url(./images/panos-sakalakis-j9EtVGr0piI-unsplash.jpg); 
    background-size: cover; 
    background-position: center;
    border-radius: 8px;
    transition: filter 0.5s ease;
    margin-left: 20%;
    margin-bottom: 15px;
}
.style-4 > a{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    /* background-color: rgba(0,0,0,0.5); */
   
}
.style-4 > a:hover{
    text-decoration: 3px solid  #ff6600 underline;
}
.style-5{
    width: 60%;
    height: 45vh;
    background-image: url(./images/pawel-czerwinski-fpZZEV0uQwA-unsplash.jpg); 
    background-size: cover; 
    background-position: center;  
    border-radius: 8px;
    transition: filter 0.5s ease;
    margin-left: 20%;
    margin-bottom: 15px;
}
.style-5 > a{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    /* background-color: rgba(0,0,0,0.5); */
   
}
.style-5 > a:hover{
    text-decoration: 3px solid  #ff6600 underline;
}
.style-6{
    width: 60%;
    height: 45vh;
    background-image: url(./images/traxer-kM6QNrgo0YE-unsplash.jpg); 
    background-size: cover; 
    background-position: center; 
    border-radius: 8px;
    transition: filter 0.5s ease;
    margin-left: 20%;
    margin-bottom: 15px;
}
.style-6 > a{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    /* background-color: rgba(0,0,0,0.5); */
   
}
.style-6 > a:hover{
    text-decoration: 3px solid  #ff6600 underline;
}








