/* .anchor{
    border: 2px solid cyan;
    width: 400px;
} */
.projects-section > h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 3.6rem;
    font-weight: 400;
    font-family: "Brush Script MT", cursive; 
}

.card-container{
    width: 100%;
    height: 64vh;
    margin-left: 3%;
    margin-right: 3%;
    
}
.flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto;
    gap: 10px;
    /* padding-left:40px; */
}
.card-container {
    margin: 0.5rem;
    padding: 1.25rem 2.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    gap: 0.5rem;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  section.projects-section .card-container > img {
    width: 500px;
    height: 295px;
}
.img1{
    height:290px;
    width:520px;
}

  
  .card-container::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #ff6600;
    border-radius: 0.75rem;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }
  
  .card-container:hover::after {
    transform: translateY(0);
  }
  
  .card-icon {
    width: 11rem;
    aspect-ratio: 1 / 1;
    color: #ff6600;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
  
  .card-container:hover .card-icon {
    background-color: #2d3748;
    transform: translateY(-0.5rem);
  }
  
  .card-title {
    font-weight: 600;
    color: #1c1d1d;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.25rem;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
  }
  
  .card-container:hover .card-title {
    color: #1c1d1d;
  }
  
  .card-description {
    font-weight: 600;
    color: #1c1d1d;
    font-size: 0.75rem;
  }
  
  .order-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .price-text {
    font-weight: 600;
    color: #ff6600;
    transition: all 0.3s ease-in-out;
  }
  
  .card-container:hover .price-text {
    color: #2d3748;
  }
  
  .order-now {
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    background-color: #ff6600;
    box-shadow: 10px 10px 150px #ff9f0d;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .card-container:hover .order-now {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
/* .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto;
    gap: 10px;
    padding-left:40px;
} */
.services-section > a{
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.check{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-section > a{
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    color: #ff6600 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.experiences-section {
    
}
.main{
    margin-top: 40px;
    margin-left: 10%;
}
.heading{
    text-align: center;
}
.heading > h1{
    font-size: 4rem;
    font-weight: 200;
    font-family: "Brush Script MT", cursive; 
    margin-top: 50px;
}
.heading > p{
    font-size: 1.1rem;
    font-family: Arial;
}
.body{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 6px rgba(255, 102, 0, 0.4);
    width: 90%;
}
.body h3{
    color: #ff6600 ;
}
.body h3,p {
    line-height: 30px;
}

.body >img{
    width: 120px;
}
.details{
    border-radius: 5px;
    padding: 10px;
}
.details h1, p{
    font-family: Arial;
}







